* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.main__header {
    display: flex;
    padding: 0 4rem 1rem 4rem;
    align-items: center;
    justify-content: space-between;
}
.main__logout {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}
.firstName {
    font-size: 2rem;
    color: #fff;
}
.container {
    background-color: orange;
    padding: 2rem 0 0 0;
    border-radius: 9px;
}
.flex {
    display: flex;
}

/* Side */
.side {
    width: 30rem;
    height: 52rem;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid black;
}
.side__title {
    margin-bottom: 0.5rem;
    text-align: center;
}
.search {
    padding: 0 0 0 0.5rem;
    margin-bottom: 0.8rem;
}
.side__search{
    padding: 0.5rem;
    border: none;
    border-radius: 9px;
}
.side__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add__note {
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor:pointer;
}

/* Note */
.note {
    padding: 0 1rem 0 0.5rem;
    margin-bottom: 1rem;
}
.note:hover {
    background-color: red;
}
.note__link {
    text-decoration: none;
    color: #333;
}
.note-title {
    font-size: 2rem;
}
.note-time {
    font-size: 1.4rem;
}
.note__content {
    height: 50rem;
    overflow-wrap: break-word;
    overflow-y: auto;
}

/* Main Content */
.main__content {
    width: 70rem;
    padding: 0 2rem 2rem 2rem;
}
.main__content--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 2rem 0;
}
.note__title-input {
    color: #fff;
    display: block;
    width: 25rem;
    padding: 1rem;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.note__title-input::placeholder {
    color: #fff;
}
.note__title-input:focus {
    outline: none;
}
.radio__btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.important__text {
    font-size: 1.4rem;
    color: #fff;
}
.textarea {
    font-size: 2rem;
    border: none;
    background-color: transparent;
    resize: none;
}
.textarea:focus {
    outline: none;
}
.note__options {
    display: flex;
    gap: 1rem;
    align-items: center;
}